/* mobile.css */
/* style.css */
/* 폰트 : crimson, noto sans KR */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* CSS 에서 <외부 style 문서 불러오기> */
@import "./reset.css";

:root {
    --main-color:#0c2d83;
    --bg-color-light: #f5f5f5;
    --text-light: #666;
    --white: #fff;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 26px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

a {
    color: #000;
}

p {
    line-height: 26px;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
}

#main-header {
    width: 100%;
    height: 80px;
}



#main-header h1 {
    position: absolute;
    left: 20px;
    top: 25px;
}

#main-header h1 img {
    width: 100px;
}

#gnb {
    position: absolute;
    right: 97px;
    top: 28px;
    z-index: 999;
    display: none;
}

/* 1단계 메뉴 */
#gnb .depth1 {
    display: flex;
}

#gnb .depth1 > li {
    margin-left: 20px;
    text-align: center;
    width: 7em;
}

#gnb .depth1 > li > a {
    font-weight: 500;
    font-size: 18px;
}

/* 2단계 메뉴 */
#gnb .depth2 {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 26px;
   /*  display: none; */
   /* 메뉴드롭다운 이펙트 */
    text-align: left;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s;
}

#gnb .depth2 > li {
    margin-bottom: 10px;
}

#gnb .depth2 > li:last-child {
    margin-bottom: 0;
}

/* hover 액션 */
#gnb .depth1 > li:hover .depth2 {
    /* display: block; */
    /* 메뉴드롭다운 이펙트 맥스값으로잡으면 알아서맞춰서적용 */
    max-height: 200px;
    opacity: 1;
}

#gnb .depth1 > li > a:hover {
    color: var(--main-color);
}

#gnb .depth2 > li > a:hover {
    text-decoration: underline;
}

#btn-toggle {
    position: absolute;
    right: 20px;
    top: 25px;
}

/* 메인배너 */
#main-banner {
    height: calc(100vh - 80px);
    background-color: #000;
}

#main-banner .container {
    height: 100%;
    background-image: url(../images/main-banner-1.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
}

#main-banner h1 {
    color: #fff;
    padding-left: 56px;
    font-size: 26px;
    font-weight: 400;
}

#site-menu-close, #site-map-menu .logo {
    display: none;
}
/* mobile 팝업 메뉴 안보임 */
#site-map-menu {
    display: none;
}
/* 버튼 누르면 보임 */
#site-map-menu.show {
    display: block;
}

#site-map-menu .depth1 > li {
    /* outline: 1px solid #ccc; */
    /* padding: 10px; */
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

#site-map-menu .depth2 > li  {
    font-weight: 400;
    text-indent: 1rem;
}

#site-map-menu .depth1 a {
    outline: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 10px 20px;
}
/* mobile 1단계 메뉴 화살표 아이콘 */
#site-map-menu .depth1 > li > a {
    display: flex;
    justify-content: space-between;
}

/* mobile 2단계 메뉴 감춤 */
#site-map-menu .depth2 {
    display: none;
}

/* mobile 2단계 메뉴 보임(show) */
#site-map-menu .depth2.show {
    display: block;
}

/* 안보임 */
#site-map-menu {
    position: absolute;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: 80px;
    z-index: 1000;
    border: 1px solid #ccc; 
}