/* style.css */
/* 폰트 : crimson, noto sans KR */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans+KR:wght@400;500;700&display=swap');

/* CSS 에서 <외부 style 문서 불러오기> */
@import "./reset.css";

:root {
    --main-color:#0c2d83;
    --bg-color-light: #f5f5f5;
    --text-light: #666;
    --white: #fff;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 26px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

a {
    color: #000;
}

p {
    line-height: 26px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

#main-header {
    height: 80px;
}

#main-header h1 {
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 999; 
}

#gnb {
    position: absolute;
    right: 97px;
    top: 28px;
    z-index: 999;
}

/* 1단계 메뉴 */
#gnb .depth1 {
    display: flex;
}

#gnb .depth1 > li {
    margin-left: 20px;
    text-align: center;
    width: 7em;
}

#gnb .depth1 > li > a {
    font-weight: 500;
    font-size: 18px;
}

/* 2단계 메뉴 */
#gnb .depth2 {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 26px;
   /*  display: none; */
   /* 메뉴드롭다운 이펙트 */
    text-align: left;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s;
}

#gnb .depth2 > li {
    margin-bottom: 10px;
}

#gnb .depth2 > li:last-child {
    margin-bottom: 0;
}

/* hover 액션 */
#gnb .depth1 > li:hover .depth2 {
    /* display: block; */
    /* 메뉴드롭다운 이펙트 맥스값으로잡으면 알아서맞춰서적용 */
    max-height: 200px;
    opacity: 1;
}

#gnb .depth1 > li > a:hover {
    color: var(--main-color);
}

#gnb .depth2 > li > a:hover {
    text-decoration: underline;
}

#btn-toggle {
    position: absolute;
    right: 20px;
    top: 25px;
}

/* 메인배너 */
#main-banner {
    height: 480px;
    background-color: #000;
}

#main-banner .container {
    height: 100%;
    background-image: url(../images/main-banner-1.jpg);
    display: flex;
    align-items: center;
}

#main-banner h1 {
    color: #fff;
    padding-left: 56px;
    font-size: 60px;
    font-weight: 400;
}



/* Introduction */
#intro .container {
    padding: 50px 20px;
    outline: 1px solid black;
}

#intro .intro-list {
    display: flex;
    gap: 20px;
}

#intro .intro-list > li {
    /* outline: 2px solid red; */
    /* 너비 - 칼럼여백만큼 값을 더주고싶을때 한칸마다 주고싶은여백만큼빼면됨 */
    width: calc((100% - 60px) / 4);
}

#intro .intro-list > li img {
    width: 100%;
    margin-bottom: 15px;
}

/* 여백, 정렬 */
#intro .intro-list h2, #intro .intro-list p {
    margin-bottom: 10px;
    text-align: center;
}

/* Notice 구역 */
#notice .container {
    padding: 50px 20px;
    outline: 1px solid black;
    background-color: #f5f5f5;
}

#notice .icons-list {
    display: flex;
    gap: 20px;
}

#notice .icons-list > li {
    /* outline: 2px solid red; */
    /* 너비 - 칼럼여백만큼 값을 더주고싶을때 한칸마다 주고싶은여백을 칸수만큼더한다음에 전체에서ㄹ빼면됨 */
    width: calc((100% - 40px) / 3);
    padding-top: 50px;
    padding-bottom: 50px;
}

.icon-group {
    text-align: center;
}

#notice .icon-group .btn-more {
    font-size: 14px;
    color: #666;
    text-decoration: underline;
}

#notice .icon-group>h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}
/* sns 배너 */
#sns-banner .container {
    background-image: url(../images/bottom-banner.jpg);
    background-repeat: no-repeat;
    color: #fff;
    padding-left: 70px;
    padding-right: 70px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sns-banner h1 {
    margin-bottom: 5px;
}

#sns-banner .sns-icon-group>a {
    margin-right: 28px;
}
/* footer */
#main-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}

#main-footer .container { 
    padding: 50px 20px;
}

#main-footer .footer-menu {
    margin-bottom: 15px;
}

#main-footer .footer-menu > a {
    font-size: 14px;
    color: #444;
}

#main-footer address, #main-footer .copy {
    font-size: 12px;
    font-style: normal;
    color: #666;
    margin-bottom: 5px;
}

/* 사이트맵 팝업 */
#site-map-menu {
    position: fixed;
    width: 80%;
    height: 80vh;
    background-color: #fff;
    /* 포지션 중앙정렬 */
    left: calc(50%);
    top: calc(50%);
    /* 가변크기에서 포지션으로 중앙정렬할때 쓰는법 */
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
    border: 1px solid #ccc;
    padding: 40px;
    
}

#site-map-menu .container {
   /*  outline: 1px solid red; */
    position: relative;
    height: 100%;
}

#site-map-menu .site-menu {
    /* outline: 1px solid #333; */
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

#site-map-menu .site-menu > ul.depth1 {
    display: flex;
    flex-wrap: wrap;
}

#site-map-menu .site-menu > ul.depth1 > li {
    width: 33.33%;
   /*  outline: 1px solid pink; */
    margin-bottom: 81px;
}

#site-map-menu .site-menu .depth2 > li {
    margin-bottom: 10px;
    
}

/* 사이트맵 1단계 메뉴 텍스트 */
#site-map-menu .site-menu > ul.depth1 > li > a {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}
/* 사이트맵 닫기 아이콘 */
#site-menu-close {
    position: absolute;
    right: 0;
    top: 0;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}
/* 사이트맵 메뉴팝업 비표시 */
#site-map-menu {
    display: none;
    /* visibility: hidden; */
}

/* 사이트맵 메뉴팝업 표시상태 */
#site-map-menu.show {
    animation-name: pop;
    animation-duration: 1s;
    animation-direction: alternate;
    display: block;
    /* display와 다르게 레이아웃에영향을끼침 */
    /* visibility: visible; */
    
}

@keyframes pop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pop-re {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 숙대홈페이지css참고 포지셔닝이용해서 사이트맵효과줬음
    집가서해봐라 안된다 준무야...주륵*/