@import "../css/sub3-1.css";/* 한국무용 소개 */
@import "../css/sub-location.css";/* 오시는 길 */
@import "../css/sub-about.css";/* 학과소개 */



/* sub page용 타이틀(서브 공통) */
#sub-title h1, #sub-title-location h1, #sub-title-korea h1 {
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}
/* 한국무용홈페이지,about홈페이지 */
#sub-title.about, #sub-title-korea {
    height: 300px;
    background-image: url(../images/sub-title-visual.jpg);
    color: #fff;
    display: flex;
    align-items: center;
}

#sub-title-location {
    height: 300px;
    background-image: url(../images/location\ bg.jpg);
    color: #fff;
    display: flex;
    align-items: center;
}

.active {
    font-weight: bold;
}

/* 공통 - lnb 메뉴 */
#lnb {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
}

#lnb ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

